html,
p,
h1,
body,
input {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Inter-Regular";
}
@font-face {
  font-family: "Inter-Regular";
  src: url("../../fonts/Inter-Regular.eot");
  src: url("../../fonts/Inter-Regular.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Inter-Regular.woff") format("woff"),
    url("../../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter-Bold";
  src: url("../../fonts/Inter-Bold.eot");
  src: url("../../fonts/Inter-Bold.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Inter-Bold.woff") format("woff"),
    url("../../fonts/Inter-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
a {
  text-decoration: none;
  color: #fff;
  z-index: 999;
}

.button {
  width: 470px;
  color: #3a7fe6;
  font-weight: 500;
  text-align: center;
  padding: 30px 0px;
  border-radius: 8px;
  cursor: pointer;
}

.buttonDiscuss {
  color: #3a7fe6;
  font-weight: 500;
  border-radius: 8px;
  padding: 20px 0px;
  text-align: center;
  cursor: pointer;
}

.ui__heading {
  color: #aeaeae;
  font-weight: 500;
  font-size: 16px;
}

.container {
  background: #f7f7f7;
  padding: 0px 30px;
}

/* header */

.header {
  display: flex;
  padding: 30px 60px;
}

.header_container {
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
  align-items: center;
}

.navItems {
  display: flex;
}

.navItems p {
  cursor: pointer;
  margin-right: 50px;
  font-size: 18px;
  transition: text-shadow 0.3s;
  color: #404040;
  border-bottom: 1px solid #aeaeae;
}

.navItems p:last-child {
  margin-right: 0px;
}

.header_button {
  padding: 18px 30px;
  font-size: 18px;
  transition: all 0.3s;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  background: linear-gradient(#f7f7f7, #f7f7f7) padding-box,
    linear-gradient(to right, #897eff, #57aeff) border-box;
}

.header_button:hover {
  transition: all 0.3s;
  color: #f6f6f6;
  background: linear-gradient(232.67deg, #897eff -10.38%, #57aeff 107.61%);
}

/* main page */

.visual_communication {
  background: #fff;
  border-radius: 20px;
  display: flex;
  padding: 60px;
}

.visual_communication-info {
  max-width: 675px;
}

.visual_communication-info-title {
  font-weight: 900;
  font-size: 35px;
  margin-bottom: 20px;
}

.visual_communication-info-subtitle {
  font-size: 20px;
  margin-bottom: 30px;
}

.visual_communication-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visual_communication-img p {
  border-bottom: 1px dashed #808080;
  color: #808080;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.visual_communication-info-button {
  padding: 30px;
  border: none;
  background: linear-gradient(232.67deg, #897eff -10.38%, #57aeff 107.61%);
  border-radius: 8px;
  font-weight: 700;
  font-size: 18px;
  color: #f6f6f6;
  width: -webkit-fill-available;
  cursor: pointer;
}

.sample-process {
  background: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 60px;
  margin-top: 30px;
}

.sample-process_title {
  font-weight: 700;
  font-size: 30px;
  color: #1b1b1b;
  margin-bottom: 25px;
}

.sample-process_subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.sample-process_subtitle p {
  font-weight: 500;
  font-size: 14px;
}

.sample-process_subtitle span {
  width: 15px;
  height: 15px;
  background: linear-gradient(232.67deg, #897eff -10.38%, #57aeff 107.61%);
  display: block;
  border-radius: 50%;
  margin-right: 10px;
}

.sample-process_visual {
  overflow: scroll;
}

.projects {
  background: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 60px 60px 30px 60px;
  margin-top: 30px;
}

.projects_title {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 30px;
}

.projects_items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projects_items img {
  margin-bottom: 30px;
}

.visualComm-services {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.visual_comm {
  background: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 60px;
}

.visual_comm-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 35px;
}

.visual_comm-subtitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 35px;
}

.visualComm-services-left {
  max-width: 910px;
}

.visual_comm-links {
  display: flex;
}

.visual_comm-links p {
  color: #404040;
  margin-right: 30px;
  border-bottom: 1px solid #aeaeae;
  padding-bottom: 5px;
  cursor: pointer;
}

.services {
  background: #1b1b1b;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 910px;
}

.services_background {
  background: url("../images/main/services-background.png") no-repeat;
  height: -webkit-fill-available;
}

.services-wrapper {
  padding: 60px;
}

.services_title {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

.services_items {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services_items-item {
  color: #fff;
  padding: 30px;
  background: grey;
  width: 320px;
}

/* process scroll animation */

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

/* footer */

.footer {
  display: flex;
  padding: 30px;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
  align-items: center;
}

.footer_container p {
  color: #808080;
  font-weight: 500;
}

.footer_container-privacy {
  text-decoration-line: underline;
  margin-right: 30px;
}

.footer_container-links {
  display: flex;
  align-items: center;
}

/* calendar */

.sdp,
.stp {
  /* font family */
  --font: inherit;
  --shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  --shadow-md: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  /* main theme color for stuff like selection */
  --theme-color: #60a5fa;
  /* color of the text */
  --text-color: #1f1f1f;
  /* background for the picker */
  --background: #ffffff;
  /* background for the date pickers buttons */
  --btn-background: #ffffff;
  /* background for the dropdown */
  --select-background: #ffffff;
  /* background color for the options inside the dropdown */
  --option-background: #ffffff;
  /* text color for the selected date */
  --selected-date-color: #ffffff;
  /* text color for disabled state */
  --disabled-color: #bdbdbd;
  /* opacity for disabled state */
  --disabled-opacity: 50%;
  /* outline for various elements */
  --outline: 1px solid #cbd5e1;
  /* a box shadow definition for a ring */
  --ring-shadow: 0px 0px 0px 2px hsla(213, 94%, 68%, 0.7);

  color: var(--text-color);
  background: var(--background);
}

.stp {
  padding: 0.5rem 0.4rem;
  outline: none;
  font-family: var(--font);
  border: none;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  display: inline-flex;
  border: var(--outline);
}

.stp--disabled {
  pointer-events: none;
}

.stp--divider {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.stp--divider__disabled {
  opacity: var(--disabled-opacity);
}

.stp * {
  outline: none;
}

.stp:focus {
  box-shadow: var(--ring-shadow);
}

.stp > p {
  margin: 0 2px;
  display: inline;
}

.sdp {
  border: none;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  background: none;
  padding: 0.75rem;
  border: var(--outline);
  color: #fff;
}

.sdp p {
  color: #fff;
}

.sdp--disabled {
  pointer-events: none;
}

.sdp:focus,
.sdp--month-name:focus,
.sdp--square-btn:focus {
  outline: none;
  box-shadow: var(--ring-shadow);
}

.sdp--month-name {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}

.sdp--text {
  font-weight: 500;
  margin: 0;
  font-family: var(--font);
}

.sdp--text__inactive {
  color: var(--disabled-color);
  pointer-events: none;
}

.sdp--square-btn {
  height: 1.8rem;
  width: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-family: var(--font);
  color: #fff;
}

.sdp--square-btn__outlined {
  border: none;
}

.sdp--square-btn__outlined:focus:hover {
  border: none;
}

.sdp--square-btn:focus:hover {
  box-shadow: none;
}

.sdp--square-btn__shadowed {
  box-shadow: none;
}

.sdp--square-btn__shadowed:focus:hover {
  box-shadow: none;
}

.sdp--date-btn__selected {
  background-color: var(--theme-color);
  color: var(--selected-date-color);
  box-shadow: var(--shadow);
}

.sdp--date-btn__selected.sdp--square-btn:focus {
  box-shadow: var(--shadow);
}

.sdp--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sdp--grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  margin: 0.5rem 0 0;
  justify-items: center;
}

.sdp--grid > p.sdp--text {
  padding: 0.5rem 0;
}

.sdp--header__main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.sdp--select__month button {
  text-align: left;
}

.sassy--select {
  border: none;
  border-radius: 0.25rem;
  display: inline;
  padding: 0.2rem 0.4rem;
}

.sassy--select__container {
  border-radius: 0.25rem;
  position: relative;
}

.sassy--select:focus {
  outline: none;
  box-shadow: var(--ring-shadow);
}

.sassy--select.sassy--select__disabled {
  opacity: var(--disabled-opacity);
  pointer-events: none;
}

.sassy--select.sassy--select__disabled:focus {
  box-shadow: none;
}

.sassy--select__dropdown {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  top: 1.5rem;
  max-height: 40vh;
  overflow: auto;
  padding: 0.5rem;
  background: var(--select-background);
  border: none;
  border-radius: 0.5rem;
  scrollbar-width: none;
  box-shadow: var(--shadow-md);
  border: var(--outline);
}

.sassy--select__dropdown::-webkit-scrollbar {
  display: none;
}

.sassy--select,
.sassy--option {
  font-weight: 500;
  font-family: var(--font);
  font-size: 1rem;
}

.sassy--option:focus {
  outline: none;
  box-shadow: var(--ring-shadow);
}

.sassy--option__disabled {
  color: var(--disabled-color);
  pointer-events: none;
}

.sassy--select:hover {
  cursor: context-menu;
}

.sassy--option {
  transition: all 0.1s ease;
  cursor: pointer;
  padding: 0.25rem 0.4rem;
  border: none;
  border-radius: 0.25rem;
  background: var(--option-background);
  margin-top: 0.25rem;
}

.sassy--option:first-of-type {
  margin-top: 0;
}

.sassy--option__active,
.sassy--option:hover {
  color: var(--selected-date-color);
  background-color: var(--theme-color);
  box-shadow: var(--shadow);
}

.discussYourProject {
  background: #3a7fe5;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  margin-top: 40px;
}

.discussYourProject__wrapper {
  padding: 60px;
}

.discussYourProject__wrapper-image {
  background-image: url("../images/discuss/discuss-img.png");
  background-position: left;
  width: -webkit-fill-available;
  border-radius: 20px;
}

.discussYourProject__wrapper-button {
  width: -webkit-fill-available;
}

.discussYourProject__wrapper-title {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 30px;
}

@media (max-width: 1290px) {
  .discussYourProject__wrapper-image {
    background-size: 320%;
  }
}

@media (max-width: 992px) {
  .discussYourProject__wrapper-image {
    display: none;
  }

  .discussYourProject__wrapper-button {
    width: 392px;
  }

  .discussYourProject__wrapper-title {
    font-size: 40px;
  }

  .discussYourProject__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 696px) {
  .container {
    overflow: hidden;
    width: 1385px;
    translate: -50%;
  }

  .discussYourProject__wrapper-image {
    display: block;
  }

  .main {
    background: none;
  }

  .menu {
    width: max-content;
  }

  .menu__header {
    width: 615px;
  }

  .menu__text {
    width: 320px;
  }

  .menu__links {
    width: 625px;
  }

  .menu__links-link {
    width: 307px;
  }

  .discussYourProject__wrapper {
    text-align: unset;
  }
}

@media (max-width: 680px) {
  .menu__header {
    width: 580px;
  }

  .menu__links {
    width: 580px;
  }

  .menu__links-link {
    width: 285px;
  }
}

@media (max-width: 656px) {
  .menu__header {
    width: 500px;
  }

  .menu__links {
    width: 500px;
  }

  .menu__links-link {
    width: 245px;
  }
}

@media (max-width: 576px) {
  .menu__header {
    width: 420px;
  }

  .menu__links {
    width: 420px;
  }

  .menu__links-link {
    width: 205px;
  }
}

@media (max-width: 492px) {
  .menu__header {
    width: 400px;
  }

  .menu__links {
    width: 400px;
  }

  .menu__links-link {
    width: 194px;
  }
}

@media (max-width: 472px) {
  .menu__header {
    width: 380px;
  }

  .menu__links {
    width: 380px;
  }

  .menu__links-link {
    width: 184px;
  }
}

@media (max-width: 456px) {
  .menu__header {
    width: 360px;
  }

  .menu__links {
    width: 360px;
  }

  .menu__links-link {
    width: 174px;
  }
}

@media (max-width: 438px) {
  .menu__header {
    width: 340px;
  }

  .menu__links {
    width: 340px;
  }

  .menu__text {
    width: 340px;
  }

  .menu__links-link {
    width: 164px;
  }
}

@media (max-width: 418px) {
  .menu__header {
    width: 350px;
  }

  .menu__links {
    width: 350px;
  }

  .menu__text {
    width: 350px;
  }

  .menu__links-link {
    width: 170px;
  }
  .menu__links-link-block p {
    font-size: 16px;
  }

  .menu__text-subtitle {
    font-size: 16px;
  }

  .menu__text-caption {
    font-size: 30px;
  }
}

@media (max-width: 398px) {
  .menu__header {
    width: 315px;
  }

  .menu__links {
    width: 315px;
  }

  .menu__text {
    width: 315px;
  }

  .menu__links-link {
    width: 152px;
  }
}

@media (max-width: 360px) {
  .menu__header {
    width: 300px;
  }

  .menu__links {
    width: 300px;
  }

  .menu__text {
    width: 300px;
  }

  .menu__links-link {
    width: 144px;
  }
}

@media (max-width: 380px) {
  .container {
    overflow: hidden;
    width: 1003px;
    translate: -65%;
  }

  .discussYourProject__wrapper-image {
    display: none;
  }
  .discussYourProject__wrapper {
    text-align: center;
  }
  .discussYourProject__wrapper-button {
    width: 260px;
  }
}
