.portfolio {
  padding: 40px 28px;
  width: 1370px;
}

.portfolio__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio__items {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1365px;
}

.portfolio__items-item {
  border-radius: 8px;
  width: 680px;
  height: 450px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.portfolio__items-item p {
  font-weight: 700;
  font-size: 20px;
  padding: 30px;
}

@media (max-width: 1290px) {
  .portfolio {
    width: 810px;
  }

  .portfolio__items {
    width: 750px;
  }

  .portfolio__items-item {
    width: 370px;
  }
}

@media (max-width: 992px) {
  .portfolio {
    width: 512px;
  }

  .portfolio__items {
    width: 452px;
  }

  .portfolio__items-item {
    width: 221px;
    height: 280px;
  }
}

@media (max-width: 696px) {
  .portfolio {
    width: 679px;
    margin: 0px 165px;
  }

  .portfolio__items {
    width: 636px;
  }

  .portfolio__items-item {
    width: 313px;
    height: 380px;
  }
}

@media (max-width: 574px) {
  .portfolio {
    margin: 0px 212px;
  }
}

@media (max-width: 490px) {
  .portfolio {
    margin: 0px 232px;
  }
}

@media (max-width: 472px) {
  .portfolio {
    margin: 0px 252px;
  }
}

@media (max-width: 454px) {
  .portfolio {
    margin: 0px 275px;
  }
}

@media (max-width: 436px) {
  .portfolio {
    margin: 0px 282px;
  }
}

@media (max-width: 396px) {
  .portfolio {
    margin: 0px 315px;
  }
}

@media (max-width: 380px) {
  .portfolio {
    margin: 0px 278px;
  }

  .portfolio__items {
    width: 320px;
  }

  .portfolio__items-item {
    width: 320px;
    height: 145px;
  }
}

@media (max-width: 360px) {
  .portfolio {
    margin: 0px 283px;
  }
}
