.privacy {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eeeeee;
  margin: 0px -30px;
}

.privacy__wrapper-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.privacy__wrapper {
  padding: 40px 28px;
  width: 885px;
  margin: 100px 0px;
  background: #fff;
}

.privacy img {
  top: -3px;
  right: 0px;
  position: relative;
}

.privacy__body {
  margin-top: 30px;
}

.privacy__body-title {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 40px;
}

.privacy__body-item {
  margin-bottom: 40px;
}

.privacy__body-item-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
}

.privacy__body-item-text {
  font-size: 20px;
}

@media (max-width: 1290px) {
  .privacy {
    grid-template-columns: none;
  }
}

@media (max-width: 992px) {
  .privacy__wrapper {
    width: 512px;
  }
}

@media (max-width: 696px) {
  .privacy {
    margin: 0px 185px;
  }
}

@media (max-width: 574px) {
  .privacy {
    margin: 0px 228px;
  }
}

@media (max-width: 492px) {
  .privacy {
    margin: 0px 244px;
  }
}

@media (max-width: 476px) {
  .privacy {
    margin: 0px 250px;
  }
}

@media (max-width: 459px) {
  .privacy {
    margin: 0px 295px;
  }
}

@media (max-width: 459px) {
  .privacy {
    margin: 0px 265px;
  }
}

@media (max-width: 396px) {
  .privacy {
    margin: 0px 335px;
  }
}

@media (max-width: 380px) {
  .privacy {
    margin: 0px 277px;
  }

  .privacy__wrapper {
    width: 320px;
  }

  .privacy__body-title {
    font-size: 20px;
  }
}
